/* --- chimero layout ---*/
.container {
  width: auto;
}
#header {
  background-color: #0c314d;
  padding: 2em;
}
#header nav ul {
  padding: 0;
  margin: 0;
}
#header li {
  margin: 0;
}
#header li a {
  color: rgba(255, 255, 255, 0.8);
}
#header .btn {
  background-color: #ECECEC;
  width: 100%;
  margin: 0 0 1em;
  color: #222;
  padding: 12px 0;
  white-space: normal;
}
#header .btn:nth-child(3){
  margin-bottom: 0;
}
#header .btn-primary {
  border: 0;
  background-color: #b0e61d;
  height:300px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2rem;
}
#main {
  padding: 2em;
}
#main .col-sm-6 {
  width: 50%;
}
#main h2 {
  font-size: 1.777em;
  font-weight: 400;
}
#main h1 {
  font-size: 2.777em;
  font-weight: 600;
}
#main h3.tape {
  margin: 1em 0 0 0;
  font-weight: 600;
}
#main .input-group {
  margin: 1em 0 2em;
}
#main .input-group input {
  max-width: 25em;
  min-width: 10em;
  width: 90%;
}
.workers {
  padding: 2em 0 0 0;
}
@media screen and (max-width: 767px){
  #header nav {
    position: relative;
  }
}



/* ---------- END ---------- */

.hidden
{
  display:none!important;
  visibility:hidden!important;
}

.affix
{
  position:fixed;
}

.board
{
  background-image:url(/images/board@1x-b5fb87e5.png);
  background-size:100%;
  background-position:center;
}

.page_container
{
  position:relative;
  padding-bottom: 56.25%;
  height:0;
}

.page_container .app_container
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin:0;
  padding: 5em;
}

.sky
{
  background-image:url(/images/sky@1x-47babe39.png);
  background-position:center;
  background-size:100%;
  width:100%;
  height:100%;
  position:relative;
}


.logo
{
  position:absolute;
  top:100px;
  right:0;
  left:0;
}

.welcomes
{
  position:absolute;
  top:80px;
  left:0;
  right:0;
}

.newcomer
{
  position:absolute;
  width:100%;
  top:600px;
  display:none;
}

.newcomer_avatar
{
  position:absolute;
  top:325px;
  width:100%;
  display:none;
  z-index:100;
}

.newcomer_avatar img
{
  max-width:256px;
  border:5px solid #fdf6e1;
  margin:0 auto;
}

.sun
{
  position:absolute;
  top:370px;
  left:0;
  right:0;
}

.town
{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
}

.wifi
{
  position:absolute;
  bottom:0;
  height:150px;
}

.wifi .register_url
{
  text-align:center;
  margin-left:-35px;
}

.wifi h3::before
{
  content:"";
  height:39px;
  width:39px;
  position:absolute;
  top:-5px;
  left:-45px;
}

.wifi .uname::before
{
  background:url(/images/icon_wifi@1x-e92e9c20.png);
}

.wifi .pword::before
{
  background:url(/images/icon_password@1x-fb34b974.png);
  height:38px;
}

.pin_rope
{
  width:70%;
  background-repeat:no-repeat;
  position:relative;
  left:22%;
  top:-5px;
  margin-bottom:-35px;
}

.worker {
  padding: 2em 0 0 0;
  position:relative;
  text-align: center;
}

.avatar_container {
  max-width: 10em;
  position:relative;
  overflow:hidden;
  border-radius:100%;
  border: 2px solid #fff;
  -webkit-box-shadow:0 0 5px 1px rgba(0,0,0,0.75);
  box-shadow:0 0 5px 1px rgba(0,0,0,0.75);
  margin:0 auto;
}

.avatar_container img {
  width:100%;
  height:auto;
}

.tape {
  font-weight: normal;
  position:relative;
  display:inline-block;
  height:67px;
  font-size:18px;
  padding-left:5px;
  padding-right:5px;
}

.tape::before,.tape::after {
  content:"";
  position:absolute;
  background-repeat:no-repeat;
}

/* --- do either of the 'tape' classes below need to exist? ---- */

.tape::after {
  top:0;
  right:-8px;
  width:9px;
  height:67px;
}

.tape::before {
  top:0;
  left:-5px;
  width:5px;
  height:67px;
}

.board.large .worker .pin_rope
{
  left:30%!important;
}

.board.small .worker .pin_rope
{
  left:20px!important;
}

.board.xsmall .worker
{
  min-width:120px;
}

.board.xsmall .worker .tape,.board.small .worker .tape
{
  line-height:40px;
  height:40px;
  font-size:14px;
}

.logo_register
{
  margin-top:50px;
}

.register ul li a
{
  line-height:40px;
  height:40px;
  color:#1e2523;
  cursor:pointer;
  margin:5px 0;
}

.hfc_sticker img
{
  max-width:300px;
  margin:0 auto;
}

.register_container img
{
  max-width:300px;
  margin:10px auto;
}



@media max-width 970px {
  .avatar_container img
  {
    height:100%!important;
    max-width:350px;
    max-height:350px!important;
  }

  .pin_rope
  {
    display:none;
  }
}


#overlay {
    position: absolute;
    z-index:50000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}


/* clear button for input form*/
::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.round-button {
  width:100%;
  margin-bottom:30px;

}

.round-button-circle {

  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;

  overflow:hidden;

  background: #b0e61d;
  box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
  background:#b0e61d;
}

.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;

  text-align:center;
  color:#e2eaf3;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
.}
